
<div class="col-lg-12 control-section">
    <div class='content-wrapper'>
        <div class='sliderwrap'>
            <label class='labeltext'>Default Slider</label>
            <ejs-slider id='default' [value]='value'></ejs-slider>
        </div>
        <div class='sliderwrap'>
            <label class='labeltext'>MinRange Slider</label>
            <ejs-slider id='minrange' [value]='value' [type]='mintype'></ejs-slider>
        </div>
        <div class='sliderwrap'>
            <label class='labeltext'>Range Slider</label>
            <ejs-slider id='range' [value]='rangevalue' [type]='rangetype'></ejs-slider>
        </div>
    </div>
</div>
